@charset "UFT-8";
html {
    font-size: 100%;
}
body {
    color: 2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    color: 2b2a27;
}
.flex {
    display: flex;
    margin-bottom: 60px;
   justify-content: space-between;
}
.image {
    width: 50%;
    padding-right: 50px;
}
.image img {
    width: 100%;
    padding: 40px 5% 0.5%;
}
.recipe {
    padding-left: 50px;
    width: 50%;
}
.page-title {
    font-size: 1.75rem;
    margin-bottom: 20px;
}
.content-title {
    border-bottom: solid 1px #ccc;
    font-size: 1.25rem;
    padding-bottom: 5px;
    margin: 40px 0 15px 0;
}
.ingredient-list {
    display: flex;
    flex-wrap: wrap;
}
.ingredient-list dt {
    width: 85%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
}
.ingredient-list dd {
    width: 15%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    text-align: right;
}
.ingredient-list li {
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    margin-left: 20px;
}
.btn {
    text-align: center;
    margin-bottom: 80px;
}
.btn a {
    display: inline-block;
    border: solid 1px #2b2a27;
    font-size: 0.875rem;
    padding: 18px 60px;
    text-decoration: none;
}
#footer {
    font-size: 0.75rem;
    padding: 20px;
    text-align: center;
}
#footer .sns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#footer .sns li {
    margin: 0 10px;
}
@media screen and (max-width: 834px) {
    .flex {
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
    .image img {
        height: auto;
    }
    .recipe {
        width: 100%;
    }
}
